<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}FCL Web Frontend!{% endblock %}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
        <link rel="stylesheet" href="{{ app.request.basePath }}/css/styles.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>


<body>


{% block main_navigation %}
    <nav class="black" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">FCL Web Frontend</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
{% endblock main_navigation %}

{% block banner %}
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center grey-text">
                {% block headline %}

                {% endblock %}
            </h1>
        </div>
    </div>
{% endblock %}

<div class="container">
    <div id="main-content" class="section">
        {% block content %}

        {% endblock content %}

    </div>
</div>
<br><br>

</div>

{% block javascripts %}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
{% endblock %}
</body>
</html>
